{% extends 'base.html.twig' %}

{% block title %}Portfolio - Adrien Deval{% endblock %}

{% block body %}

    <h1 class="text-6xl font-bold">Accueil</h1>

    <p class="text-lg text-gray-700 mt-4">Ceci est un paragraphe d'exemple.</p>
	
{% endblock %}
