{% extends 'base.html.twig' %}

{% block title %}Portfolio - Adrien Deval{% endblock %}

{% block body %}

    <h1 class="text-6xl font-bold">Accueil</h1>

    <p class="text-lg text-gray-700 mt-4">Bienvenue sur mon portfolio. Sur ce site, vous trouverez toutes les informations nécéssaires à mon sujet. Si vous souhaitez me contacter, voir mes projets sur GitHub et plus encore, voici quelques liens importants.</p>

    {# Bouton large avec un fond bleu marine foncé #}
    <div class="mt-6 space-x-4">
        <a href="https://github.com/adriendeval" class="bg-slate-900 hover:bg-indigo-950 text-white px-8 py-4 rounded-full block text-lg text-center w-full" target="_blank" rel="noopener noreferrer">Voir mon profil GitHub</a>
    </div>
	
{% endblock %}
