{% extends 'base.html.twig' %}

{% block title %}Portfolio - Compétences{% endblock %}

{% block body %}

	<h1 class="text-6xl font-bold">Compétences</h1>

	<p class="text-lg text-gray-700 mt-4">Voici un aperçu de mes compétences techniques et professionnelles. N'hésitez pas à me contacter pour plus d'informations ou pour discuter de collaborations potentielles.</p>

{% endblock %}

