{% extends 'base.html.twig' %}

{% block title %}Portfolio - Expériences Professionnelles{% endblock %}

{% block body %}

	<h1 class="text-6xl font-bold">Expériences professionnelles</h1>
	
{% endblock %}

