<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio{% endblock %}</title>
        {% block stylesheets %}
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="min-h-screen flex items-center justify-center">
        {% block body %}{% endblock %}
    </body>
</html>
